option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    JWT_ACCESS_SECRET: 84fee49fbf3f6d9b45af12b0a351a42dd41a1f87d8afe27452071b1e5c38075f
    JWT_REFRESH_SECRET: 66abafba750784971cd9d38b54d0e39732216a7b70a397598e84b86eda92f2d6
    PAYSTACK_SECRET_KEY: sk_test_b2c5e9cb8b241f7860fd1e86fb74ae6188e9d4ab
    PAYSTACK_PUBLIC_KEY: pk_test_81aca4e5892519d8bbf6b0f94f76956c1dd36625
    DATABASE_URL: postgresql://eventfuladmin:Ib65426444.@eventful-db.ce9wgso00kfe.us-east-1.rds.amazonaws.com:5432/postgres?sslmode=require
    NPM_CONFIG_PRODUCTION: "false"
